---
layout: default
---

<div class="home">
  <section class="introduction">

    {{ content }}

  </section>

  <section class="contact">
    <span class="contact-email">
      <object class="contact-icon" type="image/svg+xml" data="/images/email.svg">Email</object>
      <span>danielayassuda@gmail.com</span>
    </span class="contact-email">
    <a href="https://github.com/danielasy" title="GitHub" target="_blank">
      <img class="contact-icon" src="/images/github.svg" alt="GitHub">
    </a>
    <a href="https://www.linkedin.com/in/danielayassuda/" title="LinkedIn" target="_blank">
      <img class="contact-icon" src="/images/linkedin.svg" alt="LinkedIn">
    </a>
  </section>
</div>
