---
layout: default
---

<section class="home">
  <section class="introduction">

    {{ content }}

  </section>

  <section class="contact">
    <p><object class="email-icon" type="image/svg+xml" data="/images/email.svg">Email</object>danielayassuda@gmail.com</p>
    <a class="link-icon github-icon" href="https://github.com/danielasy" title="GitHub" target="_blank"></a>
    <a class="link-icon linkedin-icon" href="https://www.linkedin.com/in/danielayassuda/" title="LinkedIn" target="_blank"></a>
  </section>
</section>
