/**
 *  Base
 */
html {
  width: 100%;
  height: 100%;
  color: #3E3E3E;
}

body {
  width: 100%;
  height: 100%;
  background-color: #F5E2C8;
  font-family: 'Open Sans', sans-serif;
}

.content {
  position: relative;
  padding: 0 32px;
}

/**
 *  Header and navigation
 */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  padding: 24px 16px;
}

.navigation li {
  display: inline-block;
  font-weight: 600;
  padding: 0 16px;
}

.navigation a {
  color: #B75D69;
  text-decoration: none;
}

.navigation a:hover,
.navigation a:focus {
  color: #E5A5A5;
  text-decoration: underline;
}

.language-switcher {
  font-size: 0.875rem;
}

.language-switcher a {
  color: #5D5D5D;
  padding: 0px 10px;
  text-decoration: none;
}

.language-switcher a:hover,
.language-switcher a:focus {
  color: #774C60;
  text-decoration: underline;
}

.language-switcher a.active-language {
  color: #B75D69;
  font-weight: 600;
}

/**
 *  Pages
 */
.home {
  width: 100%;
  padding-top: 128px;
}

.introduction {
  max-width: 600px;
  line-height: 1.5rem;
}

.introduction h1 {
  color: #774C60;
  font-family: 'Raleway', serif;
  font-size: 3rem;
  font-weight: 300;
  line-height: 3rem;
  margin-bottom: 30px;
}

.contact {
  width: 100%;
  padding-top: 50px;
}

.contact a {
  text-decoration: none;
}

.contact-email {
  display: flex;
  align-items: center;
  color: #B75D69;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  padding-bottom: 30px;
}

.contact-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-right: 8px;
}

@media only screen and (min-width: 56.25em) {
  .home {
    padding-left: 10%;
  }
}

.not-found {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', serif;
  text-align: center;
}

.not-found h1 {
  color: #774C60;
  font-size: 3rem;
  margin-right: 16px;
}

.not-found h2 {
  color: #B75D69;
  font-size: 2rem;
}
